body { 
    height: 100vh;
    cursor: none;
}
.mouse {
    pointer-events: none;
    height : 10px;
    position: absolute;
}

.fa-mouse-pointer{
    position: absolute;
    pointer-events: none;
}
#ball {
    position: absolute;
    border-radius: 50%;
    /* Other styling as needed */
}